.Page3{
    background-color: rgb(72, 80, 59);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    max-width: 2000px;

    color: rgb(253, 250, 227);
    font-size: 1rem;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}

    .Page3Table{ 
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 80%;
        gap: 20px;
        
    }
        .leftCol{
            text-align: center;
            

        }
        .rightCol{
            text-align: center;
            

        }