.Page23{ 
    background-color: rgb(72, 80, 59);
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;


    scroll-snap-align: start;
    scroll-snap-stop: always;

    position: relative;
}

.Slide{ 
display: flex;
overflow-y: hidden;
width: 90vw;
height: 93vh;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
overflow-x: scroll;
scroll-snap-type: x mandatory;

}
.SlideDots {
    position: absolute;
    left: 50%;
    bottom: 2%; /* Adjust this value to control the vertical position */
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1); /* Adjust background color as needed */
    padding: 5px 10px;
    border-radius: 20px; /* Adjust as needed */
    z-index: 1; /* Ensure dots are above the scrolling content */
    width: 10%;

    transition: 500ms;
}
.SlideDots.open{ 
    outline: 1px solid rgba(255, 255, 255, 0.35);
    background-color: rgba(255, 0, 0, 0.35);
    width: 20%;
}
.SlideDots.open:hover{ 
    background-color: rgba(255, 0, 0, 0.5);
    cursor: pointer;
    width: 20%;
}

.PictureDiv{

    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60%;
}

.BrandImage{
    max-width: 60%;
    max-height: 100%;
    border-radius: 25px;
}



.BrandInfoDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    height: 40%;
}
    .BrandName1{
        font-family: "Montserrat", sans-serif;
        margin-top: 10%;
        font-size: 1.3rem;
        color: rgb(116, 61, 20);
    }
    .BrandName2{
        margin-top: 10%;
        font-size: 1.5rem;
        color: rgb(116, 61, 20);
    }
    .BrandName3{
        font-family: 'Times New Roman', Times, serif;
        margin-top: 10%;
        font-size: 1.3rem;
        color: rgb(116, 61, 20);
    }
    .BrandName4{
        margin-top: 10%;
        font-size: 1.3rem;
        color: rgb(116, 61, 20);
    }
    .CollectionButton{ 
        width: 40px;
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        font: inherit;
        color: inherit;
        cursor: pointer;
        outline: none;
        text-align: left;
        text-decoration: none;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
        .CollectionButton:hover{ 
            
        }
    .CollectionImage{
        width: 40px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    }
    .CollectionImage:hover{ 
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    }



.InnerSlide1{ 
    background-color: rgb(217, 181, 149);

    min-width: 100%;
    height: 100vh;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.InnerSlide2{ 
    background-color: rgb(100, 81, 72);

    min-width: 100%;
    height: 100vh;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.InnerSlide3{ 
    background-color: rgb(119, 100, 63);
    min-width: 100%;
    height: 100vh;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.InnerSlide4{ 
    min-width: 100%;
    height: 100vh;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* OVERLAYS */

.Overlay1, .Overlay2, .Overlay3, .Overlay4{
    display: none;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(3, 1fr);
    gap: 10px; /* Gap between images */

    position: absolute;
    z-index: 1;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    width: 90vw;
    height: 93vh;

    overflow: hidden;
    overflow-y: scroll;


    /* Center the grid items */
    place-items: center;
}

.CollectionPhoto {
    max-width: 90%; /* Ensure images don't exceed their container */
    max-height: 90%; /* Maintain aspect ratio */
}

/* MEDIA QUERIES FOR LANDSCAE */

@media (orientation: landscape) {
    .InnerSlide1, .InnerSlide2, .InnerSlide3, .InnerSlide4{ 


        width: 100%;
        display: flex;
        align-items: center;
    }

    .PictureDiv{

        width: 50%;
        place-items: center;

        
    }
        .BrandImage{ 
            transform: scale(1.5);
            margin-bottom: 7vh;
        }


    .BrandInfoDiv{ 

        width: 70%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .BrandName1, .BrandName2, .BrandName3, .BrandName4{ 
            margin: 0%;
        }
}