.Page4{ 
    background-color: rgb(72, 80, 59);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 2000px;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}


    .ContactButton{ 
        background-color: inherit;
        border: none;
        padding: 0px;
    }



/* MEDIA QUERIES */
@media (orientation: landscape) {
    .Page4 {
        flex-direction: row;
    }
}